# Python Virtual Environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# IDE-specific files (e.g., VS Code, PyCharm)
.idea/
.vscode/

# Database files (if using SQLite)
*.db
*.sqlite3

# Environment variables and secrets
.env
# Мои примечания
notes.txt