version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user_event
      POSTGRES_PASSWORD: strongpassword
      POSTGRES_DB: event_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user_event -d event_db"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  app:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload --proxy-headers --forwarded-allow-ips '172.16.0.0/16'
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+asyncpg://user_event:strongpassword@db/event_db
      SECRET_KEY: "SUPER_SECURE_PRODUCTION_KEY_CHANGE_THIS_IN_PROD"
      ADMIN_USERNAME: "admin"
      ADMIN_PASSWORD: "testpass"
      ADMIN_FULL_NAME: "Alex Walker"
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: